site/

*.pyc

*.swp
*.swo

*.fasta
*.fasta.gz
*.dammit
*.dammit.evalue10
*.dammit.udb
*.dammit.full
*.dammit.norename/

.cache
.eggs/
deps/
build/
dist/
distribute-*.tar.gz
distribute-*.egg
dammit.egg-info/
*.so
*~

*.tags*
*.DS_Store

.ipynb_checkpoints/
.pytest_cache/

*.snakemake
.vscode/
envs/
