setuptools>=0.6.35
sh
pandas>=0.18.1
khmer>=2.0
doit==0.29.0
Sphinx>1.3.1
sphinx-rtd-theme>=0.1.9
sphinxcontrib-napoleon>=0.3.11
ficus>=0.1
matplotlib>=1.0
numexpr>=2.3.1
shmlast>=1.2
pytest>3
pytest-cov>2.3
filelock
